# 将 GraphDB Free license 保存为本目录下的 graphdb.license（普通文件，勿提交）。
# 申请：https://www.ontotext.com/products/graphdb/download/
#
# 注意：若启动 compose 时该路径不存在，Docker 会建成空「目录」，GraphDB 报
#   Found license file ... but it is not readable
# 此时请：rm -rf docker/secrets/graphdb.license
# 再把下载的 license 存成文件 docker/secrets/graphdb.license 后重启容器。
#
# PLACEHOLDER_REPLACE_WITH_REAL_LICENSE
